In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Multi.csv")

In [3]:
df

   area  bedrooms  age   price
0  2600         3   20  550000
1  3000         4   15  565000
2  3200         3   18  610000
3  3600         3   30  595000
4  4000         5    8  760000

In [4]:
df.drop("price",axis=1)

   area  bedrooms  age
0  2600         3   20
1  3000         4   15
2  3200         3   18
3  3600         3   30
4  4000         5    8

split the data into independent and dependent variable

In [5]:
x=df[["area","bedrooms","age"]]
y=df.price

In [6]:
x

   area  bedrooms  age
0  2600         3   20
1  3000         4   15
2  3200         3   18
3  3600         3   30
4  4000         5    8

In [7]:
y

0    550000
1    565000
2    610000
3    595000
4    760000
Name: price, dtype: int64

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
m1=LinearRegression()

In [10]:
m1.fit(x,y)

LinearRegression()

In [11]:
x

   area  bedrooms  age
0  2600         3   20
1  3000         4   15
2  3200         3   18
3  3600         3   30
4  4000         5    8

In [17]:
m1.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [18]:
m1.intercept_

np.float64(383724.99999999977)

In [12]:
m1.predict([[5000,4,10]])

C:\Users\abhis\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([897625.])